.button {
  background-color: #2F5B4E;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
}

.button:hover {
  background-color: #436B5E;
}